.fiveday-container {
  padding: 3rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: 2rem 1.5rem;
}

@media (min-width: 700px) {
  .fiveday-container {
    max-width: 80rem;
    padding: 3rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: 2rem 1.5rem;
  }
}
