.sidepane {
  height: 100vh;
  background: #1e213a;

  padding: 1.125rem 0.75rem;
}

.sidepane > nav {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.sidepane > nav > button {
  border: none;
  color: #e7e7eb;
  background: #6e707a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0.625rem 1.125rem;

  font-size: 1rem;
}
.sidepane > nav > button:last-child {
  padding: 0.5rem;
  border-radius: 2rem;
}

.container {
  margin-top: 1rem;
}

.weather-img-container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 23rem;
}

.bg-weather-img {
  position: absolute;
  top: 0rem;
  left: -6rem;
  width: 150%;
  height: auto;

  opacity: 0.1;
}

.weather-meta {
  width: 80%;
  /* background-color: grey; */
  margin: 0rem auto 0;
  text-align: center;
}

.weather-temp {
  /* margin-top: ; */
  color: #e7e7eb;
  font-size: 9rem;
  font-weight: 500;
}

.weather-temp > span {
  color: #a09fb1;
  font-size: 3rem;
  font-weight: 500;
}

.weather-type {
  color: #a09fb1;
  font-size: 2.25rem;
  font-weight: 600;
  margin-top: 1.5rem;
}

.weather-day {
  display: flex;
  justify-content: center;
  gap: 1rem;

  margin-top: 3rem;
}

.relative,
.date,
.weather-day > span {
  color: #88869d;
  font-size: 1.125rem;
  font-weight: 500;
}

.weather-location {
  color: #88869d;
  font-size: 1.125rem;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
}

.weather-location > svg {
  color: #88869d;
  color: inherit;
}
