.sidepane {
  background: #1e213a;
  height: 100vh;
  padding: 1.125rem 0.75rem;
}

.container {
  margin-top: 1rem;
}

@media (min-width: 700px) {
  .sidepane {
    width: 30%;
    min-width: 23rem;
    max-width: 27rem;
    height: auto;

    padding: 1.5rem 2rem;
  }
}
