.units-toggle {
  padding: 2rem 3rem 0;
}

.units-toggle {
  max-width: 70rem;

  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}

.units-toggle > button {
  background-color: #585676;
  color: #e7e7eb;
  font-family: "Raleway";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;

  width: 2.5rem;
  height: 2.5rem;

  border-radius: 50%;
  border: none;
}

.units-toggle > button.selected {
  color: #585676;
  background-color: #e7e7eb;
  border-radius: 5px solid green;
}

@media (min-width: 700px) {
  .units-toggle {
    max-width: 70rem;

    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;

    margin: 0 auto;
  }

  .units-toggle > button {
    background-color: #585676;
    color: #e7e7eb;
    font-family: "Raleway";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;

    width: 2.5rem;
    height: 2.5rem;

    border-radius: 50%;
    border: none;
  }

  .units-toggle > button.selected {
    color: #585676;
    background-color: #e7e7eb;
    border-radius: 5px solid green;
  }
}
