.weather-img-container {
  position: relative;

  margin-left: -0.75rem;
  width: 100vw;
  height: 23rem;
}

.bg-container {
  height: 100%;
}

.bg-weather-img {
  opacity: 0.1;

  width: 140%;
  height: 100%;

  object-fit: cover;
  object-position: -7rem 110%;
}

.main-weather-img {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

@media (min-width: 700px) {
  .weather-img-container {
    margin-left: -3rem;
    width: 100%;
  }

  .bg-weather-img {
    width: 150%;
  }

  .main-weather-img {
    left: 55%;
  }
}
